*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav_cor{
    background-color: #7453ec;
}

.inputs_border{
    max-width: 350px;
}

.inputs_border:focus{
    border: 1px solid #9b79ef;
    box-shadow: 0 0 0 0;
}

.botao{
    background-color: #7453ec;
    color: #ffffff;
}

.botao_form{
    background-color: #7453ec;
    color: #ffffff;
    height: 38px;
}

.bordas_botoes{
    border: #7453ec;
}

.toggle_color{
    color: #ffffff;
}

.inputs_width{
    width: 300px;
}

#searchInput:focus{
    border: 1px solid #9b79ef;
    box-shadow: 0 0 0 0;
}

.botao_form:hover{
    background-color: #a486f1;
    color: #ffffff;
}

.botao:hover{
    background-color: #a486f1;
    color: #ffffff;
}

i{
   padding-top: 6px; 
   color: #ffffff;
}

span{
    color: #ffffff;
}

.strong_title{
    color: #ffffff;
    font-size: 30px;
}

.label_search{
    font-size: 15px;
    color: #676666;
}

.container_color{
    background-color: #e5e5e5;
}

.container_profile{
    width: 340px;
}

.container_infos{
    margin-top: 100px;
}

.container_secundario{
    width: 60%;
}

.title-padding{
    padding-left: 60px;
}

.bi-person-fill::after{
    margin-bottom: 2px;
}

.bi-person-fill::before{
    margin-bottom: 2px;
}

.menu-padding {
    padding-right: 20px;
}

.footer_color{
    background-color: #7453ec;
    color: #ffffff;
}

.form_focus:focus{
    border: 1px solid #9b79ef;
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 330px) {
    .title-padding{
        padding-left: 1px;
    }
}

@media screen and (max-width: 1045px) {
    .container_infos{
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .container_secundario{
        width: 340px;
    }
}

@media screen and (max-width: 280px) {
    .container_profile{
        width: 260px;
    }

    .container_secundario{
        width: 260px;
    }
}