*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #7453ec;
    height: 100vh;
    width: 100vw;
}

#containerPrincipal{
    height: 550px;
    background-color: white;
}

h2, h3{
    color: #9b79ef;
    font-weight:bolder;
}

p{
    color: #807f7f;
}

label{
    color: #807f7f;
}

.botao{
    background-color: #9470ee;
    color: #ffffff;
}

.botao:hover{
    background-color:#7453ec;
    color: #ffffff;
}

.inputs_border{
    border: 1px solid #dcdcdc;
}

.inputs_border:focus{
    border: 1px solid #9b79ef;
    box-shadow: 0 0 0 0;
}

form{
    padding: 35px;
}

.bg-roxo:checked{
    border: 1px solid #ffffff;
    background-color:#9b79ef;
    box-shadow: 0 0 0 0;
}