*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav_cor{
    background-color: #7453ec;
}

.title-padding{
    padding-left: 60px;
}

.strong_title{
    color: #ffffff;
    font-size: 30px;
}

.menu-padding {
    padding-right: 20px;
}

.toggle_color{
    color: #ffffff;
}

i{
    padding-top: 6px; 
    color: #ffffff;
}

span{
    color: #ffffff;
}

.botao{
    background-color:#7453ec;
    color: #ffffff;
}

.botao:hover{
    background-color: #9470ee;
    color: #ffffff;
}

i.bi.bi-person.icone::before{
    margin-bottom: 2px;
}

.bi-person-fill::before{
    margin-bottom: 2px;
}

.organizar_frase{
    text-align: justify;
}

.container_1{
    font-size: large;
    background-color: #7453ec;
    color: #ffffff;
    border-radius: 8px;
    width: 780px;
}

.container_1 .botao{
    background-color: #ffffff;
    color: #7453ec;
    margin-bottom: 20px;
}

.container_1 .botao:hover{
    background-color: #d1d0d0;
    color:  #7453ec;
}

.container_1 .botao i{
    color: #7453ec;
}

.container_1 h1{
    font-size: 40px;
    padding: 20px;
}

.container_1 p{
    font-size: 20px;
    padding: 20px;
}

i{
    font-size: 19px;
}

.inputs_border:focus{
    border: 1px solid #9b79ef;
    box-shadow: 0 0 0 0;
}

.btn_interacao{
    margin-left: 0px;
}

.container_primario span{
    color:#7453ec;
    font-size: 16px;
}

@media screen and (max-width: 1027px) {
    .container_body{
        flex-wrap: wrap;
    }

    .container_1{
        margin-top: 50px;
    }

    .title-padding{
        padding-left: 10px;
    }
}