*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav_cor{
    background-color: #4CAF50;
}

.inputs_border{
    max-width: 350px;
}

.inputs_border:focus{
    border: 1px solid #4CAF50;
    box-shadow: 0 0 0 0;
}

.botao{
    background-color: #4CAF50;
    color: #ffffff;
}

.botao_form{
    background-color: #4CAF50;
    color: #ffffff;
    height: 38px;
}

.bordas_botoes{
    border: #4CAF50;
}

.toggle_color{
    color: #ffffff;
}

.inputs_width{
    width: 300px;
}

#searchInput:focus{
    border: 1px solid #4CAF50;
    box-shadow: 0 0 0 0;
}

.botao_form:hover{
    background-color: #3498DB;
    color: #ffffff;
}

.botao:hover{
    background-color: #3498DB;
    color: #ffffff;
}

i{
   padding-top: 6px; 
   color: #ffffff;
}

span{
    color: #ffffff;
}

.strong_title{
    color: #ffffff;
    font-size: 30px;
}

.label_search{
    font-size: 15px;
    color: #676666;
}

.container_color{
    background-color: #e5e5e5;
}

.container_profile{
    width: 340px;
}

.container_infos{
    margin-top: 100px;
}

.container_secundario{
    width: 60%;
}

.title-padding{
    padding-left: 60px;
}

.bi-person-fill::after{
    margin-bottom: 2px;
}

.bi-person-fill::before{
    margin-bottom: 2px;
}

.menu-padding {
    padding-right: 20px;
}

.footer_color{
    background-color: #4CAF50;
    color: #ffffff;
}

.form_focus:focus{
    border: 1px solid #4CAF50;
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 330px) {
    .title-padding{
        padding-left: 1px;
    }
}

@media screen and (max-width: 1045px) {
    .container_infos{
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .container_secundario{
        width: 340px;
    }
}

.profissional{
    display: flex;
}
.profissional img{
    height: fit-content;
    width: fit-content;
    margin-right: 30px;
}

.contacts{
    width: 40%;
}

.chat-content{
    border: #676666 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.chat-content-contact{
    display: flex;
    align-items: center;
    background-color: #4CAF50; 
    color: #fff; 
    border-radius: 5px; 
    padding: 10px;
}

.chat-content-contact-pic{
    display: inline-block; 
    padding: 5px; 
    border-radius: 5px;
}

.chat-content-contact-name{
    font-size: 24px;
    padding-left: 10px;
}


.my-chat-message .avatar, .other-chat-message .avatar{
    width: 30px; 
    height: 30px; 
    margin-right: 9px;
}

.my-chat-message {
    align-items: end;
    display: flex;
    flex-direction: row-reverse;
}

.my-chat-message .message{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    
    border-radius: 10px 10px 0px 10px;
}

.other-chat-message {
    justify-self: start;
    display: flex;
}

.other-chat-message .message{
    
    border-radius: 0px 10px 10px 10px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating){
    width: 70%;
    height: inherit;
}


.message p{
    margin: 0;
}
.message {
    margin: 0;
    background-color: #4CAF50;
    padding: 15px;
    max-width: 80%;
    min-width: 80%;
}

@media screen and (max-width: 280px) {
    .container_profile{
        width: 260px;
    }

    .container_secundario{
        width: 260px;
    }
}

.emoji {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espaço entre o input e o emoji */
    cursor: pointer;
}