* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}

.nav_cor {
  background-color: #259753;
}

.nav_cor a {
  color: #ffffff;
}

.nav_cor ul li .dropdown-item {
  color: #000000;
}

.card-body h5 {
  color: #259753;
}

.btn_color {
  background-color: #259753;
  color: #ffffff;
}

.btn_color:hover {
  background-color: #32c56d;
  color: #ffffff;
}

i {
  padding-right: 10px;
}

.footer_color {
  background-color: #259753;
  color: #ffffff;
}

.corPadrao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corBotao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corBotao:hover{
  background-color: #0404ce !important;
  color: #ffffff !important;
}

.corLegenda{
  color: #00008B !important;
}

@media screen and (max-width: 681px) {
  .container_users {
    display: block;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 280px) {
  .btn_color {
    width: 142px;
  }
}
