* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav_cor {
  background-color: #259753;
}

.inputs_border {
  max-width: 350px;
}

.inputs_border:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.navbar, .navbar i, .navbar span{
  color: #fff;
}

.botao i{
  color: #ffffff;
}

.social-icon{
  color: #ffffff !important;
}

.botao {
  background-color: #259753;
  color: #ffffff;
}

.botao_form {
  background-color: #259753;
  color: #ffffff;
  height: 38px;
}

.bordas_botoes {
  border: #4fa387;
}

.toggle_color {
  color: #ffffff;
}

#body_chat{
  
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ecf9f1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23d9f4e4'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23c6eed6'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23b3e8c9'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23a0e3bb'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%238eddae'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%237bd8a0'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2368d293'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2355cc85'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2342c778'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%232FC16A'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.74'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

}

.inputs_width {
  width: 300px;
}

li a span:hover{
  color: #adacac;
}

.searchInput:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.searchInputDaltonismo{
  border: 1px solid #fff;
  box-shadow: 0 0 0 0;
}

.searchInputDaltonismo:focus{
  border: 1px solid #00008B;
  box-shadow: 0 0 0 0;
}

.botao_form:hover {
  background-color: #32c56d;
  color: #ffffff;
}

.botao:hover {
  background-color: #32c56d;
  color: #ffffff;
}

i {
  padding-top: 6px;
  color: #000000;
}

i .fa{
  background-color: #259753;
}

span {
  color: #000000;
}

.nome_navbar{
  color: #ffffff;
  padding-top: 8px;
}

.nome_toggle{
  color: #000;
}

.strong_title {
  color: #ffffff;
  font-size: 30px;
}

.label_search {
  font-size: 15px;
  color: #676666;
}

.container_color {
  background-color: #e5e5e5;
}

.container_profile {
  width: 340px;
}

.container_infos {
  margin-top: 100px;
}

.container_secundario {
  width: 60%;
}

.title-padding {
  padding-left: 60px;
}

.bi-person-fill::after {
  margin-bottom: 2px;
}

.bi-person-fill::before {
  margin-bottom: 2px;
}

.menu-padding {
  padding-right: 20px;
}

p{
  margin-top: 0;
  margin-bottom: 0.4rem;
}

i.bi.bi-facebook::before, i.bi.bi-twitter::before, i.bi.bi-instagram::before{
  color: #ffffff !important;
  padding: 5px;
}

.footer_color {
  background-color: #259753;
  color: #ffffff;
}

.form_focus:focus {
  border: 1px solid #32c56d;
  box-shadow: 0 0 0 0;
}

.corPadrao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corPadrao:hover{
  background-color: #19198b;
  color: #ffffff;
}

.corBotao{
  color: #ffffff;
  background-color: #00008B;
  font-weight: 800;
}

.corAleatoria{
  background-color: #00008B !important;
  font-weight: 100;
}

.corBotao:hover{
  color: #ffffff;
  background-color: #1a1ac9;
}

.corText{
  color: #00008B !important;
}

.corTextName{
  color: #ffffff !important;
}

@media screen and (max-width: 330px) {
  .title-padding {
    padding-left: 1px;
  }
}

@media screen and (max-width: 1045px) {
  .container_infos {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .container_secundario {
    width: 340px;
  }
}

.profissional {
  display: flex;
  
}
.profissional img {
  height: fit-content;
  width: fit-content;
  margin-right: 30px;
}

@media screen and (max-width: 280px) {
  .container_profile {
    width: 260px;
  }

  .container_secundario {
    width: 260px;
  }
}

.carousel-inner img {
  max-width: 100%;
  width: 400px;
  aspect-ratio : 1 / 1;
  border-radius: 20px;
  object-fit: cover;
}
.carousel{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
}

/* Estilize os indicadores de navegação */
.carousel-indicators li {
  background-color: #007bff; /* Cor ativa */
}

/* Estilize os controles de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #259753 !important;
}


.star_rating{
  position: relative;
  top: 35px;
  left: 0;
  z-index: 100;
  max-width: fit-content;
  display: flex;
  align-items: end;
  background-color: #fff;
  padding: 0 5px 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 0 10px 0;
}

.nome{
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: 1050px) {
  .div_tam {
    display: none;
  }

  .strong_title {
      display: none;
  }

  .title_color{
      font-size: 50px;
  }

  .nome::after {
      display: block;
      content: "PV";
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
  }

}