* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #259753;
  height: 100vh;
  width: 100vw;
}

#containerPrincipal {
  width: 600px;
  height: 600px;
  background-color: white;
}

h1 {
  color: #259753;
  font-weight: bolder;
}

p {
  color: #807f7f;
}

label {
  color: #807f7f;
}

a {
  text-decoration: none;
  color: #259753;
}

a:hover {
  color: #259753;
}

.botao {
  background-color: #259753;
  color: #ffffff;
  height: 50px;
  color: #fff;
  letter-spacing: 0.2em;
  transition: all 0.3s ease-in-out;
}

.botao:hover{
  color: #ddf1eb;
  background-color: #237040;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.98);
  }
 
  100% {
   transform: scale(1);
  }
 }

.inputs_border {
  border: 1px solid #dcdcdc;
  height: 50px;
}

.inputs_border:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.inputs_border_daltonismo{
  border: 1px solid #dcdcdc;
  height: 50px;
}

.inputs_border_daltonismo:focus{
  border: 1px solid #00008B;
  box-shadow: 0 0 0 0;
}

.bg-roxo:checked {
  border: 1px solid #ffffff;
  background-color: #259753;
  box-shadow: 0 0 0 0;
}

.flexCheckCheckedDaltonismo:checked{
  border: 1px solid #ffffff;
  background-color: #00008B;
  box-shadow: 0 0 0 0;
}

.cadastrar,
.span_margin {
  cursor: pointer;
  color: #4fa387;
}

.corPadrao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corPadrao:hover{
  background-color: #19198b;
  color: #ffffff;
}

.corBotao{
  color: #ffffff;
  background-color: #00008B;
}

.corBotao:hover{
  color: #ffffff;
  background-color: #0606c4;
}

.corLegenda{
  color: #00008B;
}

.corLegenda:hover{
  color: #19198b;
}
