* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav_cor {
  background-color: #259753;
}

.inputs_border {
  max-width: 350px;
}

.inputs_border:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.navbar, .navbar i, .navbar span{
  color: #fff;
}

.botao i{
  color: #ffffff;
}

.botao {
  background-color: #259753;
  color: #ffffff;
}

.botao_form {
  background-color: #259753;
  color: #ffffff;
  height: 38px;
}

.bordas_botoes {
  border: #4fa387;
}

.toggle_color {
  color: #ffffff;
}

.inputs_width {
  width: 300px;
}

#searchInput:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.botao_form:hover {
  background-color: #32c56d;
  color: #ffffff;
}

.botao:hover {
  background-color: #32c56d;
  color: #ffffff;
}

i {
  padding-top: 6px;
  color: #000000;
}

i .fa{
  background-color: #259753;
}

span {
  color: #000000;
}

.nome_navbar{
  color: #ffffff;
}

.nome_toggle{
  color: #000;
}

.strong_title {
  color: #ffffff;
  font-size: 30px;
}

.label_search {
  font-size: 15px;
  color: #676666;
}

.container_color {
  background-color: #e5e5e5;
}

.container_profile {
  width: 340px;
}

.container_infos {
  margin-top: 100px;
}

.container_secundario {
  width: 60%;
}

.title-padding {
  padding-left: 60px;
}

.bi-person-fill::after {
  margin-bottom: 2px;
}

.bi-person-fill::before {
  margin-bottom: 2px;
}

.menu-padding {
  padding-right: 20px;
}

.footer_color {
  background-color: #259753;
  color: #ffffff;
}

.form_focus:focus {
  border: 1px solid #32c56d;
  box-shadow: 0 0 0 0;
}

@media screen and (max-width: 330px) {
  .title-padding {
    padding-left: 1px;
  }
}

@media screen and (max-width: 1045px) {
  .container_infos {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .container_secundario {
    width: 340px;
  }
}

.profissional {
  display: flex;
  
}
.profissional img {
  height: fit-content;
  width: fit-content;
  margin-right: 30px;
}

@media screen and (max-width: 280px) {
  .container_profile {
    width: 260px;
  }

  .container_secundario {
    width: 260px;
  }
}

.carousel-inner img {
  max-width: 100%;
  width: 400px;
  aspect-ratio : 1 / 1;
  border-radius: 20px;
  object-fit: cover;
}
.carousel{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
}

/* Estilize os indicadores de navegação */
.carousel-indicators li {
  background-color: #007bff; /* Cor ativa */
}

/* Estilize os controles de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
}


.star_rating{
  position: relative;
  top: 35px;
  left: 0;
  z-index: 100;
  max-width: fit-content;
  display: flex;
  align-items: end;
  background-color: #fff;
  padding: 0 5px 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 0 10px 0;
}

div:has(.star_rating) {
  
}