* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.rating {
  font-size: 30px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

#rating{
  padding-left: 15px;
}

.rating2 {
  font-size: 30px;
}

.star2 {
  cursor: pointer;
  color: #ccc;
}

#rating{
  padding-left: 15px;
}

#container {
  width: 700px;
}
.ck-editor__editable[role="textbox"] {
  min-height: 100px;
}
.ck-content .image{
  max-width: 80%;
}

.texto{
  text-align:start;
}

.nav_cor {
  background-color: #259753;
}

.title-padding {
  padding-left: 60px;
}

.strong_title {
  color: #ffffff;
  font-size: 30px;
}

.menu-padding {
  padding-right: 20px;
}

.title-avaliacoes{
  color: #259753;
  font-size: 45px;
  font-style: italic;
}

.toggle_color {
  color: #ffffff;
}

i {
  padding-top: 6px;
  color: #ffffff;
}

span {
  color: #ffffff;
}

.botao {
  background-color: #259753;
  color: #ffffff;
}

.botao:hover {
   background-color: #32c56d;
  color: #ffffff;
}

i.bi.bi-person.icone::before {
  margin-bottom: 2px;
}

.bi-person-fill::before {
  margin-bottom: 2px;
}

.organizar_frase {
  text-align: justify;
}

.container_1 {
  font-size: large;
  background-color: #259753;
  color: #ffffff;
  border-radius: 8px;
  width: 780px;
}

.container_1 .botao {
  background-color: #ffffff;
  color: #259753;
  margin-bottom: 20px;
}

.container_1 .botao:hover {
  background-color: #d1d0d0;
  color: #2eb966;
}

.container_1 .botao i {
  color: #259753;
}

.container_1 h1 {
  font-size: 40px;
  padding: 20px;
}

.container_1 p {
  font-size: 20px;
  padding: 20px;
}

i {
  font-size: 19px;
}

.inputs_border:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.btn_interacao {
  margin-left: 0px;
}

.container_primario span {
  color: #259753;
  font-size: 16px;
}

@media screen and (max-width: 1027px) {
  .container_body {
    flex-wrap: wrap;
  }

  .container_1 {
    margin-top: 50px;
  }

  .title-padding {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1150px){
  #container{
    width: 600px;
  }
}

@media screen and (max-width: 991px){
  #container{
    width: 400px;
  }
}

@media screen and (max-width: 768px){
  #container{
    width: 200px;
  }
}

@media screen and (max-width: 525px){
  .divisor{
    flex-wrap: wrap;
    
  }

  #container{
    width: 300px;
  }
}

@media screen and (max-width: 280px){
  .divisor{
    flex-wrap: wrap;
    
  }

  #container{
    width: 200px;
  }
}