* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #259753;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}

.container_1 {
  font-size: large;
}

.container_1 h1 {
  font-size: 60px;
}

.container_1 p {
  font-size: 20px;
}

i {
  padding-right: 15px;
  font-size: 24px;
}

.botao {
  background-color: #ffffff;
  color: #4fa387;
  font-weight: 800;
}

.botao:hover {
  background-color: #e9e6f5;
  color: #4fa387;
}

.inputs_border:focus {
  border: 1px solid #4fa387;
  box-shadow: 0 0 0 0;
}

.btn_interacao {
  margin-left: 0px;
}

.corPadrao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corPadrao:hover{
  background-color: #19198b;
  color: #ffffff;
}

.corBotao{
  color: #00008B !important;
  background-color: #ffffff !important;
}

.corBotao:hover{
  color: #19198b !important;
  background-color: #e0e0e0 !important;
}

@media screen and (max-width: 665px) {
  body {
    display: block;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .m-5 {
    margin: 10px !important;
  }

  .p-5 {
    padding: 10px !important;
  }
}
