* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #259753;
  height: 100vh;
  width: 100vw;
}

#containerPrincipal {
  height: 550px;
  background-color: white;
}

h2,
h3 {
  color: #259753;
  font-weight: bolder;
}

p {
  color: #807f7f;
}

label {
  color: #807f7f;
}

.botao {
  background-color: #259753;
  color: #ffffff;
}

.botao:hover {
  background-color: #32c56d;
  color: #ffffff;
}

.inputs_border {
  border: 1px solid #dcdcdc;
}

.inputs_border:focus {
  border: 1px solid #259753;
  box-shadow: 0 0 0 0;
}

.inputs_border_daltonismo:checked{
  border: 1px solid #ffffff !important;
  background-color: #00008B !important;
  box-shadow: 0 0 0 0;
}

.form {
  padding: 35px;
}

.bg-roxo:checked {
  border: 1px solid #ffffff;
  background-color: #259753;
  box-shadow: 0 0 0 0;
}

.corPadrao{
  background-color: #00008B !important;
  color: #ffffff !important;
}

.corPadrao:hover{
  background-color: #2323b1 !important;
  color: #ffffff;
}

.corBackground{
  background-color: #00008B;
}

.corTexto{
  color: #00008B;
}

